.app {
  background: #ffff;
  height: 100vh;
  padding: 30px;
  margin: auto;
  width: 600px;
}

.todo-list {
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  padding: 5px;
  padding: 16px;
}

.todo-list .container {
  display: flex;
}

.todo-list .container div:first-child {
  flex:1;
}

.todo-list label,.todo-list h1{
 text-transform: capitalize;
}